
<form>
    <h4>{{ formTitle }}</h4>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Enter your username...">
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter your password...">
    </div>

    <button type="button" (click)="onLoginClicked()">Login</button>
</form>