
<app-login-form
 [formTitle]="'Login to Survey Poodle'"
 (loginAttempt)="onLoginAttempted($event)"
 ></app-login-form>

<app-register-form 
[formTitle]="'Register to Survey Poodle'"
(registerAttempt)="onRegisterAttempted($event)"
></app-register-form>

<router-outlet></router-outlet>