<form>
    <h4>{{ formTitle }}</h4>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Enter your desired username...">
    </div>

    <div>
        <label for="password">Password: </label>
        <input (keyup)="password($event)" type="password" name="password" id="password" placeholder="Enter your password...">
    </div>

    <div>
        <label for="confirmPassword">Confirm Password: </label>
        <input (keyup)="confirmPassword($event)" type="password" name="confirmPassword" id="confirmPassword" placeholder="Please confirm your password...">
    </div>

    <button type="button" (click)="onRegisterClicked()">Register</button>
</form>